* {
  background-color: rgb(255, 196, 0);
}

h1 {
  font-size: 3em;
  text-align: center;
  background-color: rgb(18, 231, 125);
  padding: 1em;
  width: 75%;
  margin: auto;
  margin-top: 60px;
}

p {
  text-align: center;
  color: blue;
  font-size: 2em;
}

h2 {
  text-align: left;
  font-style: bold;
}
ul {
  text-emphasis: left;
  font-style: oblique;

}

h3 {
  text-align: center;
  font-style: bold;
}
ol {
  text-align: center;
  font-style: oblique;
}


footer {
  text-align: right;
}
